/build

# IDE
.idea/*
!.idea/runConfigurations/

/cmake-build-debug/
/cmake-build-release/

/.internaldocs/

# Benchmark outputs
/benchmark/
/test/benchmark/out/*.html
/test/benchmark/out/benchmark_v*.json
/test/benchmark/out/test_*
